html,
#__next,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* styles.css */

.amplify-textareafield {
	--amplify-components-fieldcontrol-color: black;
	--amplify-components-fieldcontrol-border-color: rgba(255, 0, 0, 0);
	--amplify-components-fieldcontrol-focus-border-color: rgba(0, 0, 255, 0);
}
